<html>
  <head>
    <title>パターン登録</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/slackConnection.js"></script>
    <script>
    getContent()
    </script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="loader-bg">
      <div id="loader">
        <img src="images/loading.gif" alt="Now Loading ...">
        <p>Now Loading ...</p>
      </div>
    </div>
    <div class="container loader-wrap">
      <div class="header">
        <h3>パターン登録</h3>

        <div id="result"></div>
        <div id="pattern_list"></div>

        <button class="main-btn trigger-btn" disabled>bot起動</button>
        <button class="main-btn reload-btn">DBのリロード</button>
        <button class="main-btn save-btn">DBに保存</button>
      </div>
    </div>
  </body>
</html>
