<html>
  <head>
    <title>パターン登録</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
      function getContent() {
        $.ajax({
          type: "GET",
          url: "/content",
          dataType: 'html',
          processData: false,
          contentType: false,
        }).done(function(data) {
          console.log('content ok');
          $('#pattern_list').html(data);
        }).fail(function(data, textStatus, errorThrown) {
          console.log('content error');
        });
      };
      getContent();
      $(function() {
        $(document).on('click', '.add-btn', function(event) {
          event.preventDefault();
          console.log('add clicked');
          $.ajax({
            type: "POST",
            url: "/add",
            data: $('form.add-form').serialize(),
          }).done(function(data) {
            console.log('add ok');
            getContent();
          }).fail(function(data, textStatus, errorThrown) {
            console.log('add error');
            console.log(data);
            console.log(textStatus);
            console.log(errorThrown);
          });
        });
        $(document).on('click', '.delete-btn', function(event) {
          event.preventDefault();
          console.log('delete clicked');
          $.ajax({
            type: "POST",
            url: "/delete",
            data: $(this).parent().serialize(),
          }).done(function(data) {
            console.log('delete ok');
            getContent();
          }).fail(function(data, textStatus, errorThrown) {
            console.log('add error');
            console.log(data);
            console.log(textStatus);
            console.log(errorThrown);
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3>パターン登録</h3>

        <div id="result"></div>
        <div id="pattern_list"></div>
          
      </div>
    </div>
  </body>
</html>
